<h1 class="mb-1 restaurant-show-title">變更餐廳資訊</h1>
<div class="container mb-5">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">
        <div class="form-group mt-2">
          <label for="restaurant-name">餐廳名稱</label>
          <input id="restaurant-name" class="form-control" name="name" type="text" value="{{ restaurant.name }}"
            placeholder="請輸入餐廳名稱" required>
        </div>
        <div class="form-group mt-2">
          <label for="restaurant-en-name">餐廳英文名稱</label>
          <input id="restaurant-en-name" class="form-control" name="name_en" type="text"
            value="{{ restaurant.name_en }}" placeholder="Please enter restaurant name" required>
        </div>
        <div class="form-group mt-2">
          <label>餐廳評分</label>
          <input id="restaurant-rating" class="form-control" name="rating" type="text" value="{{ restaurant.rating }}"
            placeholder="Please enter restaurant rating" required>
        </div>
        <div class="form-group mt-2">
          <label for="restaurant-phone">餐廳電話</label>
          <input id="restaurant-phone" class="form-control" name="phone" type="tel" value="{{ restaurant.phone }}"
            placeholder="02 2521 2813" required>
        </div>
        <div class="form-group">
          <label for="category">類別：</label>
          <input list="category" class="form-control" placeholder="{{restaurant.category}}"
            value="{{restaurant.category}}" name="category" required>
          <datalist id="category">
            <option value="義式餐廳">義式餐廳</option>
            <option value="中東料理">中東料理</option>
            <option value="日本料理">日本料理</option>
            <option value="美式">美式</option>
            <option value="酒吧">酒吧</option>
            <option value="咖啡">咖啡</option>
          </datalist>
        </div>
        <div class="form-group">
          <label for="google_map">Google Map 網址</label>
          <input class="form-control mb-2" type="text" id="google_map" placeholder="{{restaurant.google_map}}"
            value="{{restaurant.google_map}}" name="google_map" required>
        </div>
        <div class="form-group mt-2">
          <label for="restaurant-location">餐廳地址</label>
          <input id="restaurant-location" class="form-control" name="location" type="text"
            value="{{ restaurant.location }}" placeholder="請輸入餐廳地址" required>
        </div>
        <div class="form-group">
          <label for="image">代表圖片 URL：</label>
          <input class="form-control mb-5" type="text" id="image" placeholder="{{restaurant.image}}"
            value="{{restaurant.image}}" name="image" inputmode="url" required>
        </div>
        <div class="form-group mt-2">
          <label for="restaurant-description">餐廳介紹</label>
          <textarea class="form-control" id="restaurant-description" rows="4" name="description"
            required>{{ restaurant.description }}</textarea>
        </div>
        <button class="btn btn-outline-primary" type="submit">修改餐廳資料</button>
        <a href="/"><button type="button" class="btn btn-outline-primary">返回</button></a>
      </form>
    </div>
  </div>
</div>